name: Tag

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  create-tag:
    name: "Create Tag"
    if: >
      !contains(github.event.head_commit.message, 'chore(deps): daily dependency update')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Needed to get all tags for accurate version bumping
      - name: Create tag
        uses: mathieudutour/github-tag-action@v6.1
        id: tag_version
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: "patch"
